@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --background-color: #1b1b1b;
    --primary-color: #f39c12;
    --secondary-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.intro {
    font-family: 'Poppins', sans-serif;
    background: url("../img/intro-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--secondary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 1em 3em;
    position: relative;
    overflow: hidden;
}

.intro .job-title {
    font-style: italic;
}

.intro-content h1 {
    font-size: 4em;
}

.intro-content h2 {
    font-size: 2em;
}

section {
    width: 100%;
}

section .container {
    font-family: 'Raleway', sans-serif;
    padding: 3em;

    /* TODO: Setup grid for mobile devices */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 1.75em;
    min-height: 100vh;
}

section img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

.content {
    transform: translateY(-50px);
}

/* This class can be re-used for different divs */
.title {
    color: var(--primary-color);
    font-weight: 600;
    font-size: 2em; /* Currently fit for laptop screens only */
    margin-bottom: 1em;
    padding-bottom: 0.5rem;
    position: relative;
}

.border {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 5em;
    background-color: var(--background-color);
}

.text {
    font-size: 1.25em; /* Currently fit for laptop screens only */
    margin-bottom: 0.75em;
    line-height: 1.5em;
}

.text:last-child {
    margin-bottom: 0;
}

.img-container {
    transform: translateY(50px);
}

.opacity {
    opacity: 0;
}
