@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --background-color: #151515;
    --primary-color: #ddd;
    --accent-color: #f39c12;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--background-color);
    font-family: Arial;
}

.intro {
    color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 3em;
    overflow: hidden;
}

.intro .job-title {
    font-style: italic;
}

.intro-content h1 {
    font-size: 4em;
    margin: 0.25em 0;
}

.intro-content h1 span {
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 0.1em;
    border-radius: 10px;
}

.intro-content h2 {
    font-size: 2em;
}

.test {
    height: 100vh;
}

section {
    width: 100%;
}

section .container {
    /* font-family: 'Raleway', sans-serif; */
    /* TODO: Setup grid for mobile devices */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    justify-content: center;
    grid-gap: 1.75em;
    padding: 3em;
    min-height: 100vh;
}

section img {
    width: 100%;
    max-width: 600px;
    display: block;
    margin: 0 auto;
}

.content {
    transform: translateY(-50px);
    color: var(--primary-color);
}

/* This class can be re-used for different divs */
.title {
    font-weight: 600;
    font-size: 2em; /* Currently fit for laptop screens only */
    margin-bottom: 1em;
    padding-bottom: 0.5rem;
    position: relative;
}

.border {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 5em;
    background-color: var(--accent-color);
}

.text {
    font-size: 1.25em; /* Currently fit for laptop screens only */
    margin-bottom: 0.75em;
    line-height: 1.5em;
}

.text:last-child {
    margin-bottom: 0;
}

.img-container {
    transform: translateY(50px);
}

.opacity {
    opacity: 0;
}

.outro {
    height: 100vh;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.outro-content {
    text-align: center;
}

.outro-content h2 {
    font-size: 2em;
    margin-bottom: 0.75em;
    transform: translateX(-100px);
}

.outro-content h1 {
    font-size: 4.5em;
}

.outro-content h1 span {
    background-color: var(--accent-color);
    color: var(--background-color);
    padding: 0.1em;
    border-radius: 10px;
}
